@import url(variable.css);
body{
    
    background: var(--color-primary);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
@font-face {
    font-family: "bold";
    src: url(../storage/font/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: "regular";
    src: url(../storage/font/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "semibold";
    src: url(../storage/font/Poppins/Poppins-SemiBold.ttf);
}
.contenedorp{
    position: absolute;
    display: flex;
    grid-template-columns: repeat(3,1fr);
    border-radius: 50vw;
    width: 60vw;
    margin-left: 31vw;
    margin-top: 14vw;
    background-color: hsla(0, 0%, 82%, 0.773);
}
.contenedorh{
    padding: 1vw;
    margin-left: 5vw;
}
.title{
    color: #363830;
    font-family:"bold", sans-serif;
    font-size: 6vw;
    text-align: center;
    margin-right: 12vw;
    margin-top: 2vw;
}
.text{
    color: #363830;
    font-family:"regular", sans-serif;
    text-align: left;
    font-size: 1.6vw;
    margin-left: 21vw;
}
.button{
    margin-top: 1vw;
    width: 10vw;
    height: 3.5vw;
    display: inline-block;
    border-radius: 2vw;
    background-color: #363830;
    font-family: "regular", sans-serif;
    margin-left: 21vw;
}
#parrafo{
    margin-top: 1vw;
    text-align: center;
    color: #ffff;
    font-size: 1vw;
}
#img1{
    position: absolute;
    transform: translate(-22vw,8vw);
    width: 25vw;
}
#img2{
    position: absolute;
    width: 35vw;
    top:0;
    margin-left:27vw;
    position: absolute;
    float: right;
    margin-right: 20vw;
    z-index: -1;

}

.parra{
    font-family: "regular",sans-serif;
    font-size: 1vw;

}
.number{
    margin-bottom: 1vw;
    font-family: "semibold", sans-serif;
    font-size: 1.5vw;
    color: #363830;
}
#linea{
    width: 3vw;
    margin-bottom: 1vw;
}